<!DOCTYPE html>
<html>
<head>
    <title>Pagamento</title>
    <style>
        /* Remove o espaçamento padrão */
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        /* Define o iframe para ocupar toda a área */
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <!-- Carrega o link do MercadoPago dentro de um iframe -->
    <iframe 
        src="{{ payment_url }}" 
        allowfullscreen>
    </iframe>
</body>
</html>
