<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha</title>
    <style>
        @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
    </style>
</head>

<body class="bg-gray-50">

    <div class="max-w-md mx-auto bg-white justify-center rounded-lg shadow-md p-8 mt-10">
        <h1 class="text-[#002171] text-2xl font-semibold mb-6 text-center">Córtex</h1>
        <div>
            <h2 class="text-gray-800 text-2xl font-semibold mb-6">Redefinição de Senha</h2>
            <p class="text-gray-600 mb-4">
                Recebemos uma solicitação para redefinir a senha do e-mail <strong>{{ email }}</strong>.
                Para continuar, clique no botão abaixo:
            </p>
            <div class="text-center">
                <a href="https://{{ domain }}/auth/reset-password?token={{ token }}&pk={{ pk }}"
                class="inline-block bg-blue-500 text-white py-2 px-6 rounded-lg hover:bg-blue-600 transition duration-200">
                Redefinir Senha
             </a>
            </div>
            <p class="text-gray-600 mt-6 text-center">
                Se você não solicitou uma redefinição de senha, pode ignorar este e-mail.
            </p>
            <p class="text-gray-600 mt-4 text-center">
                Atenciosamente,<br>
                <strong>Equipe de Suporte Córtex</strong>
            </p>
        </div>
    </div>

</body>

</html>